<!DOCTYPE html>
<html lang="mn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="Home.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="background">
    <div class="mobile">
        <h3>Нүүр</h3>
        <div class="header">
            <div class="menu-container">
                <i class="fa-solid fa-bars menu" id="menuBtn"></i>
                <div class="menu-dropdown" id="menuDropdown">
                    <a href="#" class="disabled">Тохиргоо</a>
                    <a href="language.html">Хэл солих</a>
                    <a href="#" class="disabled">Сурагчдийн мэдээлэл</a>
                    <a href="#" class="disabled">Багшийн мэдээлэл</a>
                    <a href="#" class="disabled">Өрөөний мэдээлэл</a>
                    <a href="#" class="disabled">Чөлөө авах</a>
                    <a href="#" class="disabled">Бүртгэл</a>
                    <a href="#" class="disabled">Зарлал</a>
                    <a href="login.html">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Гарах
                    </a>
                </div>
            </div>
            <div class="notification">
                <i class="fa-regular fa-bell"></i>
                <span>3</span>
            </div>
        </div>
        <div class="quote-card">
            <p>
                Харамсахгүйн тулд хамаг чадлаараа хичээ.
                Шаргуу хичээлийнхээ үр
                дүнг өөртөө хүлээн зөвшөөр.
                Гаргасан амжилт чинь чиний өмнөөс
                 ярих болно.
                Дэмий хэрэггүй оролдож байдаг 
                хүмүүс л
                боломжгүй зүйлд хүрч чаддаг.
            </p>
        </div>
    </div>
</div>
<script>
const menuBtn = document.getElementById("menuBtn");
const menuDropdown = document.getElementById("menuDropdown");
menuBtn.addEventListener("click", function(e){
    e.stopPropagation();
    menuDropdown.classList.toggle("active");
});
document.addEventListener("click", function(){
    menuDropdown.classList.remove("active");
});
</script>
</body>
</html>