<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Нэвтрэх</title>
    <link rel="stylesheet" href="Log-in.css">
</head>
<body>
<div class="login-container">
    <form class="login-form" action="Home.HTML">
        <div class="header">
            <h1>Нэвтрэх</h1>
            <p>
                Таны имэйл хаягаар нэвтрэнэ үү
            </p>
        </div>
        <div class="field">
            <label>
                Имэйл
            </label>
            <input 
                type="email"
                placeholder="m@example.com"
                required
            >
        </div>
        <div class="field">
            <div class="password-header">
                <label>
                    Нууц үг
                </label>
                <a href="#">
                    Нууц үгээ мартсан уу?
                </a>
            </div>
            <input
                type="password"
                placeholder="Нууц үг"
                required
            >
        </div>
        <button 
            class="login-btn"
            type="submit">
            Нэвтрэх
        </button>
        <div class="separator">
            <span></span>
            эсвэл
            <span></span>
        </div>
        <button 
            class="github-btn"
            type="button">
            Имэйл хаягаар нэвтрэх
        </button>
        <p class="signup">
            Хаяг байхгүй юу?
          <a href="/app/components/Sign-up.HTML">
                Бүртгүүлэх
            </a>
        </p>
    </form>
</div>
</body>
</html>