<!DOCTYPE html>
<html lang="mn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хувийн мэдээлэл</title>
    <link rel="stylesheet" href="Profile.css">
</head>
<body>
<div class="card">
    <h2>Хувийн мэдээлэл</h2>
    <p class="desc">
        Өөрийн мэдээллийг шинэчилнэ үү.
    </p>
    <div class="avatar-box">
        <img src="profile.png" id="preview">
        <input type="file" id="file">
    </div>
    <form>
        <label>Овог</label>
        <input type="text" placeholder="Батбаяр">
        <label>Нэр</label>
        <input type="text" placeholder="Мөнхөө">
        <label>Анги</label>
        <input type="text" placeholder="10а">
        <label>Эрэмбэ</label>
        <input type="text" placeholder="15">
        <label>Асран хамгаалагч</label>
        <input type="text" placeholder="Нэр, Утас">
        <button class="save">
            Хадгалах
        </button>
        <button class="logout">
            Системээс гарах
        </button>
    </form>
</div>
<script src="Profile.tsx"></script>
</body>
</html>